# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media and Static files
media/
staticfiles/

# Virtual Environment
venv/
env/
ENV/
.venv/

# Environment Variables
.env
.env.local

# IDEs / Editors
.idea/
.vscode/
*.swp
*~

# Temporary scripts
test_ig.py
test_ig_publish.py
